<a href="https://colab.research.google.com/github/JLaura011/Business-Analytics/blob/master/Clase030820.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Clase 03/08/2020

Creamos una variable numerica

Tipeado dinamico el mismo objeto del tipo numerico y string / Redefiniendo las variables

In [4]:
numero = 10
print(numero) #Evaluar que contiene el objeto
print(type(numero)) #Visualizar el tipo de dato

10
<class 'int'>

In [5]:
numero = "hola"
print(numero)
print(type(numero))

hola
<class 'str'>

Variables


*   Las variables no necesitan ser declaradas (tipeado dinamico)
*   Las variables son sensibles a mayusculas y minisculas
*   Los comentarios son # para una linea y ''' para textos grandes
*   Python reconoce 3 tipos de datos (entero, string y booleano)

In [6]:
#hola esta es una linea de codigo
'''
hola como estan todos
yo estoy bien
'''

'\nhola como estan todos\nyo estoy bien\n'

Datos numericos

In [7]:
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [8]:
num_float = 10.5
print(num_float)
print(type(num_float))

10.5
<class 'float'>

In [10]:
#Para numeros complejos se sigue la estructura
#R+aj
num_complejo = 5 + 2j
print(num_complejo.real)
print(num_complejo.imag)

5.0
2.0

Datos de Tipo String o cadena de caracteres

In [15]:
#Se usa aspas dobles para definir un string
texto_asp_dob = "¡Hola amigos de DSRP!"
print(texto_asp_dob)
texto_asp_simp = 'hola amigos'
print(texto_asp_simp)
texto_asp_dentro= "hola 'amigos'"
print(texto_asp_dentro)
a = 'hola "amigos"'
print(a)

¡Hola amigos de DSRP!
hola amigos
hola 'amigos'
hola "amigos"

Datos del Tipo Booleano



*   La primera letra debe ser mayuscula T o F

In [17]:
valor_A = True
print(valor_A)

True

In [19]:
valor_B = False
print(valor_B)

False

In [21]:
print(not valor_A)
print(not valor_B)

False
True

In [23]:
print (valor_A and valor_B)
print (valor_A or valor_B)

False
True

El comando PRINT()

In [29]:
num_1 = 8
num_2 = 2
resultado = (num_1+num_2)/3.0
print("el resultado de", num_1,"mas",num_2,"es %.2f" % resultado)
#Es una forma recomendada
print(f"el resultado de {num_1} mas {num_2} es {resultado:.2f}")

el resultado de 8 mas 2 es 3.33
el resultado de 8 mas 2 es 3.33

Operadores Aritmeticos en Python

In [32]:
#Suma +
#Resta - 
#Negacion -
#Potencia **
#Division /
#Division entera //, devuelve el cociente
#Modulo % , devuelve el resto

b=3
pot=2
c= 3**2
print(f"{b} elevado a la {pot} es {c}")

3 elevado a la 2 es 9

Conversion de datos en python

In [34]:
#conversion de string a numero
var_str = "100"
print(type(var_str))

var_int = int(var_str)
print(type(var_int))

<class 'str'>
<class 'int'>